<!DOCTYPE html>
<html lang="en">
	{{block "head" .}} {{end}}
	<body>
		<br/>
		<div class="uk-container uk-width-xlarge wrap uk-padding uk-border-rounded">
			<div class="uk-text-center success-block uk-box-shadow-medium">
				<img src="/assets/img/ufo.svg" style="max-width: 256px;" />
				<h2>404: page not found</h2>
				<p>the requested data was not found</p>

				<a href="/" class="uk-button uk-button-primary uk-border-rounded">Home</a>
			<div>
		</div>
		
		{{block "scripts" .}} {{end}}
	</body>
</html>
