{{define "head"}}
<head>
    <meta charset="utf-8" />
    <title>CRP Exchange Widgets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/css/uikit.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css?v=1.1" />

    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
</head>
{{end}}

{{define "scripts"}}
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit-icons.min.js"></script>
{{end}}

{{ define "btn-example" }}
<a href="/showcase" class="uk-button uk-button-primary uk-border-rounded">Showcase</a>
{{end}}

{{ define "pairs" }}
<table class="uk-table uk-table-small uk-table-divider">
    <thead>
        <tr>
            <th>Table Heading</th>
            <th>Table Heading</th>
            <th>Table Heading</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
        </tr>
    </tbody>
</table>
{{end}}
