<!DOCTYPE html>
<html lang="en">
	{{block "head" .}} {{end}}
	<body>
	<div class="container">
		<table id="scriptytable1"  class="display">
			<thead>
			<tr>
				<th> Pair </th>
				<th> Close </th>
				<th> Low </th>
				<th> High </th>
				<th> Volume </th>
			</tr>
			</thead>

			<tbody>
		{{ range .pairs}}
      		 <tr>
				<td>{{.Pair.PairTitle}}</td>
				<td>{{.MarketData.Close}}</td>
				<td>{{.MarketData.Low}}</td>
				<td>{{.MarketData.High}}</td>
				<td>{{.MarketData.Volume}}</td>
	  		 </tr>
		{{end}}

			</tbody>
		</table>

	</div>

		{{block "scripts" .}} 
				{{end}}

				<script>

			$(document).ready( function () {
   				 $('#scriptytable1').DataTable();
					} );
				</script>
	</body>
</html>
