<!DOCTYPE html>
<html lang="en">
	{{block "head" .}} {{end}}
	<body>
		<br/>
		<div class="uk-container uk-width-xlarge wrap uk-padding uk-border-rounded">
			<div class="uk-text-center success-block uk-box-shadow-medium">
				<h2>Showcase</h2>

				<a href="/" class="uk-button uk-button-primary uk-border-rounded">register</a>
				<a href="/" class="uk-button uk-button-primary uk-border-rounded">login</a>

				<hr/>

				<a href="/" class="uk-button uk-button-primary uk-border-rounded">Home</a>
			<div>
		</div>
		
		{{block "scripts" .}} {{end}}
	</body>
</html>
